.card-container {
  display: flex;
}

.row-card {
  display: flex;
  flex: 1;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.float-right {
  float: right;
}

.marginR-16 {
  margin-right: 16px;
}

.stick-head {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: bold;
}